body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #FDF8E1;
    background-blend-mode: soft-light;
    max-width: 100vw; 
    overflow: hidden; 


}

.darumadrop-one-regular {
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo {
    width: 450px; /* Smaller logo size */
    height: auto;
    object-fit: fill;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #FAFAFC;
    padding: 20px; /* Smaller padding */
    border-radius: 15px;
    width: 90%; /* Adjust container to fit screen */
    max-width: 1000px; /* Limit maximum container size */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.city {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin: 10px 0;
    padding: 20px 0;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    width: 100%;
}

.city:last-child {
    border: none;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 550px; /*allows me to create space between the time and text details on the left side :p*/ 
}

.date {
    font-size: 1em; /* Smaller font size */
    opacity: 0.6;
    color: #92B4EC;
    margin-top: 1px;
    text-shadow: 1px 1px 1px black;
}

.time {
    font-size: 2em;
    font-weight: bold;
    color: #92B4EC;
    text-shadow: 1px 1px 1px black;
    margin-left: 50px; /* Add space between city name and time */

}

.time small {
    font-size: 16px; 
    vertical-align: middle;
    line-height: 24px;
}

.logo img {
    max-width: 50%;    
    height: auto;
    object-fit: contain;
}

select {
    border-radius: 4px;
    font-size: 1.5em; 
    padding: 8px; 
    width: 100%;
    max-width: 500px; 
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 3px solid #92B4EC;
    font-family: "Darumadrop One", sans-serif;
    text-align: center;
    color: #92B4EC;
}

select:focus {
    border-color: #4d324a;
    outline: none;
}

h1 {
    text-align: center;
    margin: 0 auto;
    font-size: 100px; 
    color: #92B4EC;
    text-shadow: 2px 2px 4px black;
    font-family: "Darumadrop One", sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
}

h2 {
    font-family: "Darumadrop One", sans-serif;
    margin-right: 10px; 
    font-size: 1.5em; 
    
}


img {
    display: inline-block;
    animation: wave 1.5s infinite;
}

@keyframes wave {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

.city {
    color: #4d324a;
    border-bottom: 1px dashed grey;
    text-align: left;
}


.all {
    text-align: left;
    display: block;
}





footer {
    text-align: center;
    font-size: 14px; /* Smaller font size */
    margin-top: 50px;
    color: #92B4EC;
}